<div class="input-location">
    <input class="form-control" name="{{key}}" type="text" placeholder="Label" ng-model="values['label']" ng-required="attribute.required">
    <input class="form-control" name="{{attribute.key}}" type="text" placeholder="Lat" ng-model="values['lat']" ng-required="attribute.required">
    <input class="form-control" name="{{attribute.key}}" type="text" placeholder="Lon" ng-model="values['lon']" ng-required="attribute.required">
    <input class="form-control" name="{{attribute.key}}" type="text" placeholder="Search" ng-model="searchLocationTerm" ng-required="attribute.required">
    <button ng-click="searchLocation($event)">TEST</button>
    <leaflet id="{{attribute.key}}" controls="controls" markers="markers" center="center" height="265px" width="100%"></leaflet>
</div>
