<form editable-form name="editUserProfileForm" onaftersave="save_user_profile()" onshow="on_user_profile_edit_form_show()">
    <ul>
        <li>
            <b translate>user.username</b>
            <span>{{user_profile_data.username}}</span>
        </li>
        <li>
            <b translate>user.realname</b>
            <span editable-text="user_profile_data_for_edit.realname" e-name="realname" e-required>{{user_profile_data.realname}}</span>
        </li>
        <li>
            <b translate>user.email</b>
            <span editable-email="user_profile_data_for_edit.email">{{user_profile_data.email}}</span>
        </li>

        <div class="buttons">
            <!-- button to show form -->
            <button type="button" class="btn btn-default" ng-click="editUserProfileForm.$show()" ng-show="!editUserProfileForm.$visible" translate>
                user.edit_profile
            </button>
            <!-- buttons to submit / cancel form -->
            <span ng-show="editUserProfileForm.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="editUserProfileForm.$waiting" translate>
                    user.save_profile
                </button>
                <button type="button" class="btn btn-default" ng-disabled="editUserProfileForm.$waiting" ng-click="editUserProfileForm.$cancel()" translate>
                    user.cancel
                </button>
            </span>
        </div>
    </ul>
</form>
