<accordion>
    <accordion-group heading="Posts" is-open="status.isFirstOpen">
        <ul>
            <li>
                <a href="/posts/detail"><i class="fa  fa-th-list"></i>Post Detail</a>
            </li>
        </ul>
    </accordion-group>
    <accordion-group heading="Settings">
        <ul>
            <li>
                <a href="/settings" class="js-accordion-trigger"><i class="fa  fa-cogs"></i>Site Settings</a>
            </li>
        </ul>
    </accordion-group>
    <accordion-group heading="Tools">
        <ul>
            <li>
                <a href="/users" class="js-accordion-trigger"><i class="fa  fa-group"></i>Manage Users</a>
            </li>
        </ul>
    </accordion-group>
</accordion>
